* {
    padding: 0;
    box-sizing: border-box;
}

/*-Wrappers-------------------------------------------------------------------------------------------------------*/

p {
    color: aliceblue;
}

#grid_wrapper_home {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px;
    grid-template-areas:
    "stat"
    "chst"
    "menu"
    ;
}

#grid_wrapper_collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 400px auto 100px;
    grid-template-areas:
    "stat"
    "deck"
    "cont"
    "menu"
    ;
}

/*-tags-----------------------------------------------------------------------------------------------------------*/

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(25, 20, 65, 0.5)
}

body {
    margin: 0px;
    background-image: url("/img/other/clash_background.jpg");
}

a {
    text-decoration: none;
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    background-color: rgba(120, 113, 169, 0.7);
}

/*-Ids------------------------------------------------------------------------------------------------------------*/

#chest_unlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#chest {
    grid-area: chst;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card_img {
    width: 300px;
}

#chest_img {
    width: 300px;
}

#deck {
    grid-area: deck;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

#balance {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#balance_text {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

#coin_icon {
    width: 50px;
    height: 50px;
}

#card_list {
    grid-area: cont;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 50px;
    padding: 50px;
}

#menu {
    grid-area: menu;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#open_chest {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stat {
    grid-area: stat;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(25, 20, 65, 0.5);
}

#title {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    animation: color-change 2s infinite;
}

/*-Classes--------------------------------------------------------------------------------------------------------*/

.notice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
    background-color: rgba(25, 20, 65, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.menu_button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    background-color: rgba(25, 20, 65, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.gold_card {
    color: gold;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

.common_card {
    color: gray;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

.rare_card {
    color: orange;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

.epic_card {
    color: rgb(171, 10, 152);
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

.legendary_card {
    animation: color-change 2s infinite;
    text-shadow: 4px 4px 4px black, 0 0 2px black;
}

/*-Animations-----------------------------------------------------------------------------------------------------*/

@keyframes color-change {
    0% { color: lime; }
    25% { color: orange; }
    50% { color: purple; }
    75% { color: orange; }
    100% { color: lime; }
}